.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1em;

}

.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li{
    margin: 10px;
    
}

.navbar a{
    color: white !important    
}