/* Estilos básicos para dispositivos móveis */
ul{
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    padding: 1em;
    
}

.list1, .list2 {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;

    margin-top: 1em;
}

.list1{
    justify-content: space-around;
}

.list2{
    gap: 2em;
}


.navbar li {
    margin: 0.5rem; 
}

.navbar a {
    color: white !important;
    cursor: pointer;
}

/* Estilos para telas pequenas (exemplo: smartphones em orientação retrato) */
@media screen and (min-width: 576px) {

}

/* Estilos para telas médias (exemplo: tablets em orientação retrato) */
@media screen and (min-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .list1, .list2 {
        flex-direction: row;
    }
}

/* Estilos para telas grandes (exemplo: tablets em orientação paisagem) */
@media screen and (min-width: 992px) {

}

/* Estilos para telas extra grandes (exemplo: monitores grandes) */
@media screen and (min-width: 1200px) {

.navbar{
    margin-bottom: 2.5rem;
}

    .list1, .list2{  
        
        display: flex;

        gap: 0;
        padding: 0;
        margin: 0;

        padding: 1rem 3rem;

    }
}

.list1 li{
    padding: 0rem 0.6rem;
}

.list2{
    flex-direction: row-reverse;
}
.list2 li{
    padding: 0rem 0.6rem;
}
