/* Estilos básicos para dispositivos móveis */
.presentation {
    text-align: center; /* Centraliza o texto em dispositivos móveis */
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.presentation h1 {
    font-size: 2.8125rem; /* Substitui 45px com base no fator de escala (45/16) */
    height: 3.2em;
}

.presentation h4 {
    font-size: 1.5625rem; /* Substitui 25px com base no fator de escala (25/16) */
}
.presentation p {
    font-size: 1.2rem;

    width: 90%;
}

.presentation a {
    text-decoration: none;
    color: #74FAC0;
}

/* Estilos adicionais para telas pequenas (exemplo: smartphones em orientação retrato) */
@media screen and (min-width: 576px) {

    .presentation h1 {
        font-size: 2.5rem; /* Ajuste necessário para telas pequenas */
    }

    .presentation h4 {
        font-size: 1.25rem; /* Ajuste necessário para telas pequenas */
    }
}

/* Estilos para telas médias (exemplo: tablets em orientação retrato) */
@media screen and (min-width: 768px) {
    .presentation {
        margin-left: 3rem; /* Ajuste necessário para telas médias */
        text-align: left; /* Retorna ao alinhamento à esquerda para telas médias */
    }

    .presentation h1 {
        font-size: 2.75rem; /* Ajuste necessário para telas médias */
    }

    .presentation h4 {
        font-size: 1.375rem; /* Ajuste necessário para telas médias */
    }
}

/* Estilos para telas grandes (exemplo: tablets em orientação paisagem) */
@media screen and (min-width: 992px) {
    .presentation {
        margin-left: 5%; /* Retorna à margem original para telas grandes */
    }

    .presentation h1 {
        font-size: 3rem; /* Ajuste necessário para telas grandes */
    }

    .presentation h4 {
        font-size: 1.5rem; /* Ajuste necessário para telas grandes */
    }
}

/* Estilos para telas extra grandes (exemplo: monitores grandes) */
@media screen and (min-width: 1200px) {
    .presentation { 
        justify-content: center;
        align-items: flex-start;

        gap: 1em;

    }

    .presentation h1 {
        font-size: 3.5rem; /* Ajuste necessário para telas extra grandes */
        height: auto;
        padding-left: 0.3em;
        
    }

    .presentation h4 {
        font-size: 1.75rem; /* Ajuste necessário para telas extra grandes */
        padding-left: 0.5em;
    }
}

.presentation p{
    padding-left: 1em;
}
.presentation div{
    padding-left: 1em;
}

