/* Estilos básicos para dispositivos móveis */
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 90%;
    gap: 0.8em;

    background-color: rgba(1, 9, 28, 0.664);
    border-radius: 20px;

}


.card img {
    width: 100%;
    max-height: 300px;
    transition-duration: 0.45s;
}

.card img:hover {
    transform: scale(1.1);
}

.card h3 {
    margin: 1%;
    margin-top: 1rem;
    /* Substitui 15px com uma unidade mais flexível */
    font-size: 2.1875rem;
    /* Substitui 35px com base no fator de escala (35/16) */
    font-weight: 780;
}

.card h4 {
    margin: 1.5%;
    font-size: 1.875rem;
    font-weight: 600;
}

.card section {
    text-align: center;
    background-color: rgba(1, 9, 28, 0.75);
    border-radius: 20px;
    width: 100%;
    /* Ajusta a largura para preencher o contêiner pai */
    max-height: auto;
    overflow: hidden;

    height: auto;

    margin-bottom: 0.3em;
    padding-bottom: 0.8em;
}

.card p {
    margin-bottom: 5px;
    margin-left: 1%;
    /* Substitui 2% com uma unidade mais flexível */
    margin-top: 0.5rem;
    /* Substitui 8px com uma unidade mais flexível */
    font-size: 1.125rem;
    /* Substitui 18px com base no fator de escala (18/16) */
    max-height: 83px;
    overflow: auto;
    position: relative;
}



.card div {
    position: relative;
    width: 100%;
}







/* Estilos adicionais para telas médias (exemplo: tablets em orientação retrato) */
@media screen and (min-width: 768px) {
    .card{
        width:50% 50%;
        flex-direction: row
    }

    .card section {
        text-align: left;
        background-color: rgba(1, 9, 28, 0.75);
        border-radius: 20px;

        max-height: auto;
        overflow: hidden;

        padding-left: 1.5em;

        width: 100%;
        height: 11em;
    }

    .card h3 {
        font-size: 1.2rem;
        margin-top: 0.2em;
    }
    .card h4 {
        font-size: 1rem;
    }
    .card p {
        font-size: 0.925rem;
        max-height: 53px;
        overflow: auto;
        position: relative;
    }



    .card a {
        width: 100%;
    }
    .card img {
        width: 100%;
        height: auto;
    }

}








/* Estilos para telas grandes  */
@media screen and (min-width: 992px) {
    .card{
        width:50% 50%;
        background-color: transparent;
        gap: 1.8rem;
    }

    .card section {
        padding: 1rem;
        margin: 0;

        height: 15.5rem;


        text-align: left;
        background-color: rgba(1, 9, 28, 0.75);
        border-radius: 20px;

        overflow: hidden;

        width: 100%;
        
    }

    .card h3 {
        font-size: 1.675rem;
    }
    .card h4 {
        font-size: 1.475rem;
    }



    .card a {
        width: 100%;
    }
    .card img {
        width: 100%;
        height: auto;
    }

}







/* Estilos para telas EL */
@media screen and (min-width: 1200px) {

    .card{
        width:80%;
        background-color: transparent;
        gap: 1rem;
        
        
    }

    .card section {
        padding: 1rem;
        margin: 0;

        height: 15.5rem;


        text-align: left;
        background-color: rgba(1, 9, 28, 0.75);
        border-radius: 20px;

        overflow: hidden;

        width: 100%;
        
    }
    .card a {
        width: 100%;
    }
    .card img {
        width: 100%;
    }

    .card h3 {
        font-size: 1.975rem;
    }
    .card h4 {
        font-size: 1.675rem;
    }
    .card p {
        font-size: 1rem;
        margin-left: 0.5rem;
        margin-bottom: 1.5rem;

        max-height: 60px
    }
}